

<html xmlns="http://www.w3.org/1999/xhtml">
    <head lang="en">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>客服机器人的大脑：语义理解-奇智机器人</title>
        <link href="css/css.css" rel="stylesheet" type="text/css" />
        <link href="css/new.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="js/jquery.pack.js"></script>
        <script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
    </head>

    <body>
            <!--head-->
            <div class="header bg01">
            <div class="head">
                <div class="logo fl"><a href="index.html"><img src="images/logo.png" /></a></div>
                <div class="deng fr">
                    <span><a>登录</a>
                        <ul>
                            <li><a href="javascript:;" class="loginRobot">登录机器人系统</a></li>
                            <li><a href="javascript:;" class="loginKf">登录在线客服系统</a></li>
                        </ul>
                    </span>
                    <span><a href="javascript:;" class="reg">注册</a></span>
                </div>
                <ul class="nav fr">
                    <li><a href="index.html">首页</a><b></b></li>
                    <li><a>产品&nbsp;&nbsp;<i><img src="images/xia.png" /></i><em><img src="images/xia01.png" /></em><label><img src="images/xia02.png" /></label></a><b></b>
                        <dl>
                            <dt><a href="duihua.html">
                                <strong><img src="images/nav1.png" /></strong>
                                <span>对话机器人</span>
                            </a></dt>
                            <dt><a href="zaixian.html">
                                <strong><img src="images/nav2.png" /></strong>
                                <span>在线客服系统</span>
                            </a></dt>
                            <dt><a href="duolun.html">
                                <strong><img src="images/nav3.png" /></strong>
                                <span>多轮对话</span>
                            </a></dt>
                            <dt><a href="shuju.html">
                                <strong><img src="images/nav4.png" /></strong>
                                <span>数据分析</span>
                            </a></dt>
                            <dt><a href="gongdan.html">
                                <strong><img src="images/nav5.png" /></strong>
                                <span>工单系统</span>
                            </a></dt>
                        </dl>
                    </li>
                    <li><a href="jishu.html">技术优势</a><b></b></li>
                    <li><a href="jiage.html">价格</a><b></b></li>
                    <li><a href="anli.html">案例</a><b></b></li>
                    <li><a href="yanshi.html">演示</a><b></b></li>
                    <li class="on"><a href="dongtai.html">动态</a><b></b></li>
                    <li><a href="guanyu.html">关于我们</a><b></b></li>
                </ul>

                <div class="sav fr"><span><img src="images/nav01.png" /></span><a><img src="images/nav01.png" /></a></div>
                <div class="zcs fr"><a href="javascript:;" class="reg">注册</a></div>
            </div>
        </div>

            <!--下拉-->
        <div class="xia ov">
            <ul>
                <li><a href="index.html">首页</a></li>
                <li><p>产品&nbsp;&nbsp;&gt;</p>
                    <dl class="dis">
                        <dt><a href="duihua.html">
                            <strong><img src="images/nav1.png" /></strong>
                            <span>对话机器人</span>
                        </a></dt>
                        <dt><a href="zaixian.html">
                            <strong><img src="images/nav2.png" /></strong>
                            <span>在线客服系统</span>
                        </a></dt>
                        <dt><a href="duolun.html">
                            <strong><img src="images/nav3.png" /></strong>
                            <span>多轮对话</span>
                        </a></dt>
                        <dt><a href="shuju.html">
                            <strong><img src="images/nav4.png" /></strong>
                            <span>数据分析</span>
                        </a></dt>
                        <dt><a href="gongdan.html">
                            <strong><img src="images/nav5.png" /></strong>
                            <span>工单系统</span>
                        </a></dt>
                    </dl>
                </li>
                <li><a href="jishu.html">技术优势</a></li>
                <li><a href="jiage.html">价格</a></li>
                <li><a href="anli.html">案例</a></li>
                <li><a href="yanshi.html">演示</a></li>
                <li><a href="dongtai.html">动态</a></li>
                <li><a href="guanyu.html">关于我们</a></li>
            </ul>
            <dl class="zc ov">
                <dt><a href="zhuce.html">注册</a></dt>
                <dd class="fl"><a href="denglu.html">登录机器人系统</a></dd>
                <dd class="fr"><a href="denglu.html">登录在线客服系统</a></dd>
            </dl>
        </div>
        <script>
window.onbeforeunload = function(){
    //刷新后页面自动回到顶部
    document.documentElement.scrollTop = 0;  //ie下
    document.body.scrollTop = 0;  //非ie
}
</script>
        <script>
$(document).ready(function () {
    var navtop = $(".header").offset().top;
    $(window).scroll(function () {
        var t = $(window).scrollTop();
        if (t > navtop) {
            $(".header").addClass("bg");
        } else {
            $(".header").removeClass("bg");
        }
    })
});
</script>
        <script>
$(document).ready(function(){
    $(".sav").click(function(){
        $(".xia").toggleClass("dis")
        $(".header").toggleClass("kk")
    });
    $(".xia p").click(function(){
        $(".xia dl").toggleClass("dis")
    });
});
</script>

            <!--banner-->
        <section class="updata_pas" style="padding:0.5em;width: 1200px;margin: 5em auto;">
                <!--<div class="brand"><a href="../index.html">首页</a>/<a href="updata.html">新闻列表</a></div>-->
            <ol class="brand breadcrumb">
                <li><a href="index.html"><span style="color: #41C6E3;">首页</span></a> <span style="color: #ccc;">/</span> <a href="dongtai.html"><span style="color: #41C6E3;">新闻列表</span></a></li>
                
            </ol>
            <h1 style="text-align:center;font-size: 36px;" class="updata_title">客服机器人的大脑：语义理解</h1>
            <p style="text-align:center;margin:20px;">2018-08-03 15:06</p>
            <div class="passage">
            <p><strong>剖开智能客服“大脑”</strong></p><p>如今，智能客服已经演变成微信版、APP版、网页版等各式各样的形式。在以往对智能客服“脑容量”即知识库的加工中，由于语义理解技术的局限性，需要人工维护一定量的扩展问，才能实现客服的“智能”问答。一旦客户提问的方式超出了扩展问的范围，智能客服就会略显“笨拙”了。</p><p>想要实现智能客服自然流畅的用户体验，很多公司不得不投入大量人力物力，用于对智能客服知识库的维护，人工增加更多的扩展问，让智能客服在理解用户意图上尽量做得更加全面，显得更“聪明”些。</p><p><br></p><p><strong>奇智机器人先进语义理解--懂你所想</strong></p><p>在这方面，应用了国内领先的语义理解技术的奇智机器人客服，已经走在了业界前列。奇智语义理解通过最新的深度学习技术，利用先进的算法与模型，在一定程度上可以实现对问题理解的自动扩展，从而更加全面、准确地理解用户的真实意图。</p><p>语义理解技术的提升，让奇智智能客服在产品端的用户体验上，以及开发维护的成本上都有了极大的改变。</p><p>在对奇智智能客服的数据加工上，较其他智能客服供应商能够至少减少五倍的工作量，大大提升了数据加工的效率，减少了智能客服的人力物力成本，在维护上也变得更加简便易行。</p><p>与此同时，奇智智能客服的用户体验也显得更“智能化”了。“一千个读者有一千个哈姆雷特”，面对智能客服的用户也是一样。一个简单的问题，不同人有各自的问法，有了强大语义理解能力的奇智智能客服，可以轻松应对各种千奇百怪的问法，并且，在应答速度上也有更加快速、准确。</p><p><br></p><p><span style="color: rgb(64, 64, 64);">如今，应用奇智智能客服解决方案的企业已经遍布互联网金融机构、银行、保险、通信等各行各业，客户数目正在不断增加。</span></p><p><br></p><p><br></p>
            </div>
        </section>

                <!--fanye-->
                

                <!--免费试用-->
            <div class="mbox mt ov">
                <div class="title ov">
                    <span>立即开通奇智机器人，免费试用全部功能</span>
                    <p><b></b><a>free trial all features</a><b></b></p>
                </div>
                <div class="title01 ov">
                    <span>立即开通奇智机器人<br />免费试用全部功能</span>
                    <p><b></b><a>free trial all features</a><b></b></p>
                </div>

                <div class="sbox ov">
                    <strong><img src="images/tel.jpg" /></strong>
                    <p><input type="text" placeholder="请输入您的手机号..." id="phoneNum" /></p >
                    <span><input type="button" value="免费试用"  class="freeUse"/></span>
                </div>
            </div>
                <!--[if lt IE 9]>

                <![endif]-->

                <!--foot-->
        <div class="footer ov">
            <div class="foot ov">
                <div class="logo fl"><img src="images/logo.png" /></div>
                <div class="xw fl">
                    <ul>
                        <li><a href="https://weibo.com/p/1005055792483262/" target="_blank"><img src="images/fb03.png" /></a></li>
                        <li class="on"><a><img src="images/fb02.png" /></a><p><img src="images/wx.jpg" /></p></li>
                        <li><a href="https://shang.qq.com/wpa/qunwpa?idkey=c54b25c8520c54afb7d9125f4e1cd50e86c4d50ddff1dd92a4d060d3b1df6c4e"  alt="奇智机器人官方QQ群" title="官方QQ群: 476248184" target="_blank"><img src="images/fb01.png" /></a></li>
                    </ul>
                </div>
                <ul class="lx fl">
                    <li><strong><img src="images/f01.png" /></strong><p><a href="tel:400-604-5033" title="" style="color: white;">电话: 400-604-5033</a></p></li>
                    <li><strong><img src="images/f02.png" /></strong><p>商务合作: market@chatbot.cn</p></li>
                    <li><strong><img src="images/f03.png" /></strong><p>技术支持: support@chatbot.cn</p></li>
                    <li><strong><img src="images/f04.png" /></strong><p>公司地址:上海市浦东新区祖冲之路1559号创意大厦7001</p></li>
                </ul>
                <dl class="nav fl">
                    <dt><a href="duihua.html">产品</a><a href="jishu.html">技术优势</a><a href="jiage.html">价格</a><a href="anli.html">案例</a><a href="yanshi.html">演示</a><a href="dongtai.html">动态</a><a href="guanyu.html">关于我们</a></dt>
                    <dd><span><a href="anli.html">客户案例</a></span><p><a href="anli.html?key=lkl"><img src="images/c01.png" /></a></p><p><a href="anli.html?key=ge"><img src="images/footer-ge.png" /></a></p><p><a href="anli.html?key=58"><img src="images/footer-58.png" /></a></p><p><a href="anli.html?key=zgcyh"><img src="images/footer-zgcyh.png" /></a></p></dd>
                </dl>
                <div class="bottom fl">
                    <p>奇智机器人-专业的人机智能交互解决方案提供商</p>
                    <span>Copyright@2017 上海八斗智能技术有限公司 | 沪ICP备17004486号-1|</span>
                </div>
            </div>
        </div>
<script>
        $(".freeUse").click(function(){
            window.open("https://cloud.chatbot.cn/cloud/register?phone="+$("#phoneNum").val())
        })
</script>
<script type="text/javascript">
                $(document).ready(function(){
                    $(".footer .on").click(function(){
                        $(".footer .on p").toggleClass("dis")
                    });
                });

             $(document).ready(function() {
                 // val()无参数是取值，有参数是设置
                 // 为了更好的兼容性，将下面的val()设置与input中的placeholder的值设置相同
                 $(".sbox p input").val("");
                 textFill($('input.text1'));
             });

             function textFill(input) {
                 var originalvalue = input.val();
                 input.focus(function() {
                     if ($.trim(input.val()) == originalvalue) {
                         input.val('');
                     }
                 });
                 input.blur(function() {
                     if ($.trim(input.val()) == '') {
                         input.val(originalvalue);
                     }
                 });
             }
</script>
<script>
$(document).ready(function(){
    $(".footer .on").click(function(){
        $(".footer .on p").toggleClass("dis")
    });
});
// 从地址栏获取参数
(function ($) {
    $.getUrlParam = function (name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURI(r[2]); return null;
    }
})(jQuery);
var currentKey = $.getUrlParam('key');

if(currentKey =="58"){
    $('.biao a').eq(2).addClass("on").siblings().removeClass('on')
}else if(currentKey =="ge"){
    $('.biao a').eq(3).addClass("on").siblings().removeClass('on')
}else if(currentKey =="zgcyh"){
    $(".tab01 ul li").eq(2).addClass("on").siblings().removeClass('on')
}
</script>
<script src="./js/main.js" charset="utf-8"></script>
<script src='http://cloud.chatbot.cn/cloud/robot/webjs/5b3c47952400008a1b1f05c3' language="JavaScript"></script>
            <!--百度统计-->
        <script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?c1ca7e2ebb1260ee586994702dcb5f5c";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
  </script>
            <!--百度统计/-->
            <!--cnzz-->
        <div style="display: none;">
            <script type="text/javascript">
      var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cspan id='cnzz_stat_icon_1256449100'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol +
              "s95.cnzz.com/stat.php%3Fid%3D1256449100' type='text/javascript'%3E%3C/script%3E"));

    </script>
        </div>
            <!--cnzz/-->
</body>
</html>
