

<html xmlns="http://www.w3.org/1999/xhtml">
    <head lang="en">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>智能制造绝非等同于“机器换人”-奇智机器人</title>
        <link href="css/css.css" rel="stylesheet" type="text/css" />
        <link href="css/new.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="js/jquery.pack.js"></script>
        <script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
    </head>

    <body>
            <!--head-->
            <div class="header bg01">
            <div class="head">
                <div class="logo fl"><a href="index.html"><img src="images/logo.png" /></a></div>
                <div class="deng fr">
                    <span><a>登录</a>
                        <ul>
                            <li><a href="javascript:;" class="loginRobot">登录机器人系统</a></li>
                            <li><a href="javascript:;" class="loginKf">登录在线客服系统</a></li>
                        </ul>
                    </span>
                    <span><a href="javascript:;" class="reg">注册</a></span>
                </div>
                <ul class="nav fr">
                    <li><a href="index.html">首页</a><b></b></li>
                    <li><a>产品&nbsp;&nbsp;<i><img src="images/xia.png" /></i><em><img src="images/xia01.png" /></em><label><img src="images/xia02.png" /></label></a><b></b>
                        <dl>
                            <dt><a href="duihua.html">
                                <strong><img src="images/nav1.png" /></strong>
                                <span>对话机器人</span>
                            </a></dt>
                            <dt><a href="zaixian.html">
                                <strong><img src="images/nav2.png" /></strong>
                                <span>在线客服系统</span>
                            </a></dt>
                            <dt><a href="duolun.html">
                                <strong><img src="images/nav3.png" /></strong>
                                <span>多轮对话</span>
                            </a></dt>
                            <dt><a href="shuju.html">
                                <strong><img src="images/nav4.png" /></strong>
                                <span>数据分析</span>
                            </a></dt>
                            <dt><a href="gongdan.html">
                                <strong><img src="images/nav5.png" /></strong>
                                <span>工单系统</span>
                            </a></dt>
                        </dl>
                    </li>
                    <li><a href="jishu.html">技术优势</a><b></b></li>
                    <li><a href="jiage.html">价格</a><b></b></li>
                    <li><a href="anli.html">案例</a><b></b></li>
                    <li><a href="yanshi.html">演示</a><b></b></li>
                    <li class="on"><a href="dongtai.html">动态</a><b></b></li>
                    <li><a href="guanyu.html">关于我们</a><b></b></li>
                </ul>

                <div class="sav fr"><span><img src="images/nav01.png" /></span><a><img src="images/nav01.png" /></a></div>
                <div class="zcs fr"><a href="javascript:;" class="reg">注册</a></div>
            </div>
        </div>

            <!--下拉-->
        <div class="xia ov">
            <ul>
                <li><a href="index.html">首页</a></li>
                <li><p>产品&nbsp;&nbsp;&gt;</p>
                    <dl class="dis">
                        <dt><a href="duihua.html">
                            <strong><img src="images/nav1.png" /></strong>
                            <span>对话机器人</span>
                        </a></dt>
                        <dt><a href="zaixian.html">
                            <strong><img src="images/nav2.png" /></strong>
                            <span>在线客服系统</span>
                        </a></dt>
                        <dt><a href="duolun.html">
                            <strong><img src="images/nav3.png" /></strong>
                            <span>多轮对话</span>
                        </a></dt>
                        <dt><a href="shuju.html">
                            <strong><img src="images/nav4.png" /></strong>
                            <span>数据分析</span>
                        </a></dt>
                        <dt><a href="gongdan.html">
                            <strong><img src="images/nav5.png" /></strong>
                            <span>工单系统</span>
                        </a></dt>
                    </dl>
                </li>
                <li><a href="jishu.html">技术优势</a></li>
                <li><a href="jiage.html">价格</a></li>
                <li><a href="anli.html">案例</a></li>
                <li><a href="yanshi.html">演示</a></li>
                <li><a href="dongtai.html">动态</a></li>
                <li><a href="guanyu.html">关于我们</a></li>
            </ul>
            <dl class="zc ov">
                <dt><a href="zhuce.html">注册</a></dt>
                <dd class="fl"><a href="denglu.html">登录机器人系统</a></dd>
                <dd class="fr"><a href="denglu.html">登录在线客服系统</a></dd>
            </dl>
        </div>
        <script>
window.onbeforeunload = function(){
    //刷新后页面自动回到顶部
    document.documentElement.scrollTop = 0;  //ie下
    document.body.scrollTop = 0;  //非ie
}
</script>
        <script>
$(document).ready(function () {
    var navtop = $(".header").offset().top;
    $(window).scroll(function () {
        var t = $(window).scrollTop();
        if (t > navtop) {
            $(".header").addClass("bg");
        } else {
            $(".header").removeClass("bg");
        }
    })
});
</script>
        <script>
$(document).ready(function(){
    $(".sav").click(function(){
        $(".xia").toggleClass("dis")
        $(".header").toggleClass("kk")
    });
    $(".xia p").click(function(){
        $(".xia dl").toggleClass("dis")
    });
});
</script>

            <!--banner-->
        <section class="updata_pas" style="padding:0.5em;width: 1200px;margin: 5em auto;">
                <!--<div class="brand"><a href="../index.html">首页</a>/<a href="updata.html">新闻列表</a></div>-->
            <ol class="brand breadcrumb">
                <li><a href="index.html"><span style="color: #41C6E3;">首页</span></a> <span style="color: #ccc;">/</span> <a href="dongtai.html"><span style="color: #41C6E3;">新闻列表</span></a></li>
                
            </ol>
            <h1 style="text-align:center;font-size: 36px;" class="updata_title">智能制造绝非等同于“机器换人”</h1>
            <p style="text-align:center;margin:20px;">2018-08-03 10:41</p>
            <div class="passage">
            <p>世界智能制造大会日前在南京召开，德国弗劳恩霍夫协会董事霍尔格·科尔博士对中国正在兴起的“机器换人”热潮发出提醒。他说，制造业升级绝不等同于“机器换人”；人拥有最高智能，任何时候都不该被忽略。</p><p>的确，在当前实体经济特别是制造业人力成本高企、“用工荒”逢年初必至、企业处于转型艰难期等情境下，不少传统制造企业视“机器换人”“无人工厂”为至宝，一些省市也对此给予了政策、资金、技术等方面大力支持，希望能以此促推传统制造业的更新换代进程。</p><p>但事实上，“机器换人”“无人工厂”距离真正意义上的智能制造还相差甚远。自从德国提出工业4.0概念，全球掀起新一轮工业革命以来，世界各主要制造业国家纷纷提出了本国版的工业4.0方案。这些方案，无不把工业自动化设定为智能制造的基础步骤，而真正的智能制造必须是能满足个性化定制需求、为企业提供整体解决方案的制造。</p><p>由此可见，我国当前大力推行的自动化生产，是为实现工业4.0铺垫基石。但在这一过程中，不少人错误地把发展智能制造与提高人的操作技术对立起来。其实在人与机器的关系中，不是机器决定人的去留，而是人的技术素质决定智能制造的水平高低。</p><p>生产过程中是否工人越少就意味着成本越低、效益越高呢？答案是“并不尽然”。在工业4.0的语境中，被机器替换下来的工人，只是简单、体力劳动者，对那些在智能制造中能上下串联、独当一面的高素质技术工人的需求将大幅增加。</p><p>因此，企业在发展智能化生产时，千万不能错误的将以机器为中心替代以人为中心。在通往智能制造的升级路上，只有大力培育符合智能制造需要的高水平新型技术工人，不断提升人机合作的程度，企业的生产经营效率才会越来越高。</p>
            </div>
        </section>

                <!--fanye-->
                

                <!--免费试用-->
            <div class="mbox mt ov">
                <div class="title ov">
                    <span>立即开通奇智机器人，免费试用全部功能</span>
                    <p><b></b><a>free trial all features</a><b></b></p>
                </div>
                <div class="title01 ov">
                    <span>立即开通奇智机器人<br />免费试用全部功能</span>
                    <p><b></b><a>free trial all features</a><b></b></p>
                </div>

                <div class="sbox ov">
                    <strong><img src="images/tel.jpg" /></strong>
                    <p><input type="text" placeholder="请输入您的手机号..." id="phoneNum" /></p >
                    <span><input type="button" value="免费试用"  class="freeUse"/></span>
                </div>
            </div>
                <!--[if lt IE 9]>

                <![endif]-->

                <!--foot-->
        <div class="footer ov">
            <div class="foot ov">
                <div class="logo fl"><img src="images/logo.png" /></div>
                <div class="xw fl">
                    <ul>
                        <li><a href="https://weibo.com/p/1005055792483262/" target="_blank"><img src="images/fb03.png" /></a></li>
                        <li class="on"><a><img src="images/fb02.png" /></a><p><img src="images/wx.jpg" /></p></li>
                        <li><a href="https://shang.qq.com/wpa/qunwpa?idkey=c54b25c8520c54afb7d9125f4e1cd50e86c4d50ddff1dd92a4d060d3b1df6c4e"  alt="奇智机器人官方QQ群" title="官方QQ群: 476248184" target="_blank"><img src="images/fb01.png" /></a></li>
                    </ul>
                </div>
                <ul class="lx fl">
                    <li><strong><img src="images/f01.png" /></strong><p><a href="tel:400-604-5033" title="" style="color: white;">电话: 400-604-5033</a></p></li>
                    <li><strong><img src="images/f02.png" /></strong><p>商务合作: market@chatbot.cn</p></li>
                    <li><strong><img src="images/f03.png" /></strong><p>技术支持: support@chatbot.cn</p></li>
                    <li><strong><img src="images/f04.png" /></strong><p>公司地址:上海市浦东新区祖冲之路1559号创意大厦7001</p></li>
                </ul>
                <dl class="nav fl">
                    <dt><a href="duihua.html">产品</a><a href="jishu.html">技术优势</a><a href="jiage.html">价格</a><a href="anli.html">案例</a><a href="yanshi.html">演示</a><a href="dongtai.html">动态</a><a href="guanyu.html">关于我们</a></dt>
                    <dd><span><a href="anli.html">客户案例</a></span><p><a href="anli.html?key=lkl"><img src="images/c01.png" /></a></p><p><a href="anli.html?key=ge"><img src="images/footer-ge.png" /></a></p><p><a href="anli.html?key=58"><img src="images/footer-58.png" /></a></p><p><a href="anli.html?key=zgcyh"><img src="images/footer-zgcyh.png" /></a></p></dd>
                </dl>
                <div class="bottom fl">
                    <p>奇智机器人-专业的人机智能交互解决方案提供商</p>
                    <span>Copyright@2017 上海八斗智能技术有限公司 | 沪ICP备17004486号-1|</span>
                </div>
            </div>
        </div>
<script>
        $(".freeUse").click(function(){
            window.open("https://cloud.chatbot.cn/cloud/register?phone="+$("#phoneNum").val())
        })
</script>
<script type="text/javascript">
                $(document).ready(function(){
                    $(".footer .on").click(function(){
                        $(".footer .on p").toggleClass("dis")
                    });
                });

             $(document).ready(function() {
                 // val()无参数是取值，有参数是设置
                 // 为了更好的兼容性，将下面的val()设置与input中的placeholder的值设置相同
                 $(".sbox p input").val("");
                 textFill($('input.text1'));
             });

             function textFill(input) {
                 var originalvalue = input.val();
                 input.focus(function() {
                     if ($.trim(input.val()) == originalvalue) {
                         input.val('');
                     }
                 });
                 input.blur(function() {
                     if ($.trim(input.val()) == '') {
                         input.val(originalvalue);
                     }
                 });
             }
</script>
<script>
$(document).ready(function(){
    $(".footer .on").click(function(){
        $(".footer .on p").toggleClass("dis")
    });
});
// 从地址栏获取参数
(function ($) {
    $.getUrlParam = function (name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURI(r[2]); return null;
    }
})(jQuery);
var currentKey = $.getUrlParam('key');

if(currentKey =="58"){
    $('.biao a').eq(2).addClass("on").siblings().removeClass('on')
}else if(currentKey =="ge"){
    $('.biao a').eq(3).addClass("on").siblings().removeClass('on')
}else if(currentKey =="zgcyh"){
    $(".tab01 ul li").eq(2).addClass("on").siblings().removeClass('on')
}
</script>
<script src="./js/main.js" charset="utf-8"></script>
<script src='http://cloud.chatbot.cn/cloud/robot/webjs/5b3c47952400008a1b1f05c3' language="JavaScript"></script>
            <!--百度统计-->
        <script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?c1ca7e2ebb1260ee586994702dcb5f5c";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
  </script>
            <!--百度统计/-->
            <!--cnzz-->
        <div style="display: none;">
            <script type="text/javascript">
      var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cspan id='cnzz_stat_icon_1256449100'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol +
              "s95.cnzz.com/stat.php%3Fid%3D1256449100' type='text/javascript'%3E%3C/script%3E"));

    </script>
        </div>
            <!--cnzz/-->
</body>
</html>
