@()(implicit request: Request[AnyContent])

@main("系统登录", request) {
<div class="row" style="margin-top: 100px;">
    <div class="col-md-offset-4 col-md-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><h4>系统登录</h4></div>
            <div class="panel-body" style="padding-right: 0px;">
                <form id="form" action="/doLogin">
                    <div class="form-group">
                        <label>登录密码</label>
                        <input name="password" class="form-control" type="password" value=''>
                    </div>
                    <button class="btn btn-primary">立即登录</button>
                </form>
            </div>
        </div>
    </div>
</div>

}

<script type="text/javascript" charset="utf-8">
</script>
