@(n: News)

<html xmlns="http://www.w3.org/1999/xhtml">

<head lang="en">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>奇智机器人_在线智能客服机器人_微信聊天机器人_人工客服系统</title>
    <meta property="og:site_name" content="奇智机器人_在线智能客服机器人_微信聊天机器人_人工客服系统">
    <meta property="og:description" content="奇智智能客服机器人采用最前沿的深度学习技术，问答准确率业内领先；能够自动从聊天记录中学习并在线生成知识库；拥有的多轮对话技术涉及到微信、客服、app系统，满足售前、售后多种应用场景的需求">
    <meta name="keywords" content="客服机器人,微信机器人,智能客服,对话机器人,聊天机器人,问答系统,在线客服机器人,在线客服,智能机器人,对话系统,APP机器人,APP智能客服,客服,云客服,在线客服系统">
    <meta name="description" content="奇智智能客服机器人采用最前沿的深度学习技术，问答准确率业内领先；能够自动从聊天记录中学习并在线生成知识库；拥有的多轮对话技术涉及到微信、客服、app系统，满足售前、售后多种应用场景的需求。">
    <link href="css/css.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery.pack.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
</head>

<body>
<!--head-->
<div class="header">
    <div class="head">
        <div class="logo fl">
            <a href="index.html">
                <img src="images/logo.png" />
            </a>
        </div>
        <div class="deng fr">
        <span>
          <a>登录</a>
          <ul>
            <li>
              <a href="javascript:;" class="loginRobot">登录机器人系统</a>
            </li>
            <li>
              <a href="javascript:;" class="loginKf">登录在线客服系统</a>
            </li>
          </ul>
        </span>
            <span>
          <a href="javascript:;" class="reg">注册</a>
        </span>
        </div>
        <ul class="nav fr">
            <li class="on">
                <a href="index.html">首页</a>
                <b></b>
            </li>
            <li class="ss">
                <a>产品&nbsp;&nbsp;
                    <i>
                        <img src="images/xia.png" />
                    </i>
                    <em>
                        <img src="images/xia01.png" />
                    </em>
                    <label>
                        <img src="images/xia02.png" />
                    </label>
                </a>
                <b></b>
                <dl>
                    <dt>
                        <a href="duihua.html">
                            <strong>
                                <img src="images/nav1.png" />
                            </strong>
                            <span>对话机器人</span>
                        </a>
                    </dt>
                    <dt>
                        <a href="zaixian.html">
                            <strong>
                                <img src="images/nav2.png" />
                            </strong>
                            <span>在线客服系统</span>
                        </a>
                    </dt>
                    <dt>
                        <a href="duolun.html">
                            <strong>
                                <img src="images/nav3.png" />
                            </strong>
                            <span>多轮对话</span>
                        </a>
                    </dt>
                    <dt>
                        <a href="shuju.html">
                            <strong>
                                <img src="images/nav4.png" />
                            </strong>
                            <span>数据分析</span>
                        </a>
                    </dt>
                    <dt>
                        <a href="gongdan.html">
                            <strong>
                                <img src="images/nav5.png" />
                            </strong>
                            <span>工单系统</span>
                        </a>
                    </dt>
                </dl>
            </li>
            <li>
                <a href="jishu.html">技术优势</a>
                <b></b>
            </li>
            <li>
                <a href="jiage.html">价格</a>
                <b></b>
            </li>
            <li>
                <a href="anli.html">案例</a>
                <b></b>
            </li>
            <li>
                <a href="yanshi.html">演示</a>
                <b></b>
            </li>
            <li>
                <a href="dongtai.html">动态</a>
                <b></b>
            </li>
            <li>
                <a href="guanyu.html">关于我们</a>
                <b></b>
            </li>
        </ul>

        <div class="sav fr">
        <span>
          <img src="images/nav.png" />
        </span>
            <a>
                <img src="images/nav01.png" />
            </a>
        </div>
        <div class="zcs fr">
            <a href="javascript:;" class="reg">注册</a>
        </div>
    </div>
</div>


<!--下拉-->
<div class="xia ov">
    <ul>
        <li>
            <a href="index.html">首页</a>
        </li>
        <li>
            <p>产品&nbsp;&nbsp;&gt;</p>
            <dl class="dis">
                <dt>
                    <a href="duihua.html">
                        <strong>
                            <img src="images/nav1.png" />
                        </strong>
                        <span>对话机器人</span>
                    </a>
                </dt>
                <dt>
                    <a href="zaixian.html">
                        <strong>
                            <img src="images/nav2.png" />
                        </strong>
                        <span>在线客服系统</span>
                    </a>
                </dt>
                <dt>
                    <a href="duolun.html">
                        <strong>
                            <img src="images/nav3.png" />
                        </strong>
                        <span>多轮对话</span>
                    </a>
                </dt>
                <dt>
                    <a href="shuju.html">
                        <strong>
                            <img src="images/nav4.png" />
                        </strong>
                        <span>数据分析</span>
                    </a>
                </dt>
                <dt>
                    <a href="gongdan.html">
                        <strong>
                            <img src="images/nav5.png" />
                        </strong>
                        <span>工单系统</span>
                    </a>
                </dt>
            </dl>
        </li>
        <li>
            <a href="jishu.html">技术优势</a>
        </li>
        <li>
            <a href="jiage.html">价格</a>
        </li>
        <li>
            <a href="anli.html">案例</a>
        </li>
        <li>
            <a href="yanshi.html">演示</a>
        </li>
        <li>
            <a href="dongtai.html">动态</a>
        </li>
        <li>
            <a href="guanyu.html">关于我们</a>
        </li>
    </ul>
    <dl class="zc ov">
        <dt>
            <a href="zhuce.html" class="reg">注册</a>
        </dt>
        <dd class="fl">
            <a href="denglu.html" class="loginRobot">登录机器人系统</a>
        </dd>
        <dd class="fr">
            <a href="denglu.html" class="loginKf">登录在线客服系统</a>
        </dd>
    </dl>
</div>
<script>
    window.onbeforeunload = function () {
        //刷新后页面自动回到顶部
        document.documentElement.scrollTop = 0; //ie下
        document.body.scrollTop = 0; //非ie
    }

</script>
<script>
    $(document).ready(function () {
        var navtop = $(".header").offset().top;
        $(window).scroll(function () {
            var t = $(window).scrollTop();
            if (t > navtop) {
                $(".header").addClass("bg");
            } else {
                $(".header").removeClass("bg");
            }
        })
    });

</script>
<script>
    $(document).ready(function () {
        $(".sav").click(function () {
            $(".xia").toggleClass("dis")
            $(".header").toggleClass("kk")
        });
        $(".xia p").click(function () {
            $(".xia dl").toggleClass("dis")
        });
    });

</script>

<!--banner-->
<div class="banner ov">
    <div class="tu">
        <img src="images/banner.png" />
    </div>
    <div class="tu01">
        <img src="images/wapbanner.png" />
    </div>
    <div class="wen ov">
        <p>
            <strong>
                <img src="images/bz01.png" />
            </strong>
            <a>
                <img src="images/bm.png" />
            </a>
            <strong>
                <img src="images/bz.png" />
            </strong>
        </p>
        <span>让机器和人自然地交流</span>
        <b>
            <strong>
                <a href="zhuce.html" class="tiyan">立即体验</a>
            </strong>
            <em>
                <a href="javascript:;" onclick="chatBotShow()">马上咨询</a>
            </em>
        </b>
    </div>
</div>

<!--我们的产品-->
<div class="pbox ov">
    <div class="title ov">
        <span>我们的产品</span>
        <p>
            <b></b>
            <a>our products</a>
            <b></b>
        </p>
    </div>
    <div class="pro ov">
        <ul>
            <li>
                <div>
                    <strong>
                        <img src="images/p01.png" />
                    </strong>
                    <span>智能机器人</span>
                    <p>意图识别、多轮会话、上下文理解
                        <br />知识库智能学习等多项核心优势</p>
                    <a href="duihua.html">了解更多</a>
                </div>
            </li>
            <li>
                <div>
                    <strong>
                        <img src="images/p02.png" />
                    </strong>
                    <span>在线客服系统</span>
                    <p>人机智能结合，全渠道一站式接入
                        <br /> 人工效率提升200%</p>
                    <a href="zaixian.html">了解更多</a>
                </div>
            </li>
            <li>
                <div>
                    <strong>
                        <img src="images/p03.png" />
                    </strong>
                    <span>奇智大数据</span>
                    <p>多维度数据报表,对业务情况
                        <br />客户反馈和客服绩效了如指掌</p>
                    <a href="shuju.html">了解更多</a>
                </div>
            </li>
            <li>
                <div>
                    <strong>
                        <img src="images/p04.png" />
                    </strong>
                    <span>工单系统</span>
                    <p>机器人自动收集信息并创建工单
                        <br /> 及时响应客户需求</p>
                    <a href="gongdan.html">了解更多</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="contentwrap ov">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div>
                        <strong>
                            <img src="images/p01.png" />
                        </strong>
                        <span>智能机器人</span>
                        <h1>意图识别、多轮会话、上下文理解、知识库智能学习等多项核心优势</h1>
                        <a href="duihua.html">了解更多</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <strong>
                            <img src="images/p02.png" />
                        </strong>
                        <span>在线客服系统</span>
                        <h1>人机智能结合，全渠道一站式接入 人工效率提升200%</h1>
                        <a href="zaixian.html">了解更多</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <strong>
                            <img src="images/p03.png" />
                        </strong>
                        <span>奇智大数据</span>
                        <h1>多维度数据报表,对业务情况、客户反馈和客服绩效了如指掌</h1>
                        <a href="shuju.html">了解更多</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <strong>
                            <img src="images/p04.png" />
                        </strong>
                        <span>工单系统</span>
                        <h1>机器人自动收集信息并创建工单, 及时响应客户需求</h1>
                        <a href="gongdan.html">了解更多</a>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <script src="js/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('.contentwrap .swiper-container', {
            pagination: '.contentwrap .swiper-pagination',
            slidesPerView: 'auto',
            centeredSlides: true,
            paginationClickable: true,
            spaceBetween: 30
        });

    </script>
</div>

<!--多渠道支持-->
<div class="dbox ov">
    <div class="title ov">
        <span>多渠道支持</span>
        <p>
            <b></b>
            <a>Multi-channel support</a>
            <b></b>
        </p>
    </div>
    <div class="duo ov">
        <ul>
            <li>
                <strong>
                    <img src="images/d01.png" />
                </strong>
                <span>移动APP</span>
            </li>
            <li>
                <strong>
                    <img src="images/d02.png" />
                </strong>
                <span>微信公众号</span>
            </li>
            <li>
                <strong>
                    <img src="images/d03.png" />
                </strong>
                <span>微博</span>
            </li>
            <li>
                <strong>
                    <img src="images/d04.png" />
                </strong>
                <span>桌面网站</span>
            </li>
            <li>
                <strong>
                    <img src="images/d05.png" />
                </strong>
                <span>移动网站</span>
            </li>
            <li>
                <strong>
                    <img src="images/d06.png" />
                </strong>
                <span>微信群</span>
            </li>
            <li>
                <strong>
                    <img src="images/d07.png" />
                </strong>
                <span>小程序</span>
            </li>
            <li>
                <strong>
                    <img src="images/d08.png" />
                </strong>
                <span>接口对接</span>
            </li>
        </ul>
    </div>
</div>

<!--特色功能-->
<div class="tbox ov">
    <div class="title ov">
        <span>特色功能</span>
        <p>
            <b></b>
            <a>Special feature</a>
            <b></b>
        </p>
    </div>
    <div id="tab">
        <div class="tab_menu">
            <ul>
                <li class="selected">
                    <a>意图识别</a>
                </li>
                <li>
                    <a>多轮对话</a>
                </li>
                <li>
                    <a>知识库学习</a>
                </li>
                <li>
                    <a>智慧坐席</a>
                </li>
                <li>
                    <a>全语音交互</a>
                </li>
                <li>
                    <a>机器人协同</a>
                </li>

            </ul>
        </div>
        <div class="tab_box">
            <div class="box ">
                <div class="tu ov">
                    <a href="javascript:;">
                        <img src="images/t06.png" />
                    </a>
                </div>
                <div class="wen ov">
                    <span>意图识别</span>
                    <p>基于前沿神经网络技术,在亿万级数据集上训练得到的意图识别模型，能够自动抽取用户问句中的时间,地点,人名等关键性信息,自动识别同一个意思的不同问法,正确理解客户的意图</p>

                </div>
            </div>
            <div class="box hide">
                <div class="tu ov">
                    <a href="javascript:;">
                        <img src="images/t02.png" />
                    </a>
                </div>
                <div class="wen ov">
                    <span>多轮对话</span>
                    <p>基于RNN技术的多轮会话模型,业内独创多轮会话定制工具,用户只需要在后台绘制业务逻辑,即可自主定制多轮会话。具有流畅的交互效果，支持对接业务接口、一次性输入多个信息、中途打断、修改等复杂逻辑。</p>
                    <a href="duolun.html">了解更多</a>
                </div>
            </div>
            <div class="box hide">
                <div class="tu ov">
                    <a href="javascript:;">
                        <img src="images/t03.png" />
                    </a>
                </div>
                <div class="wen ov">
                    <span>知识库学习</span>
                    <p>业内独有知识库智能学习技术,机器人可以自动从历史聊天记录中发现和总结知识点, 大大降低人工编写知识库的工作知识库智能学习</p>
                    <a href="zhishi.html">了解更多</a>
                </div>
            </div>
            <div class="box hide">
                <div class="tu ov">
                    <a href="javascript:;">
                        <img src="images/t01.png" />
                    </a>
                </div>
                <div class="wen ov">
                    <span>智慧坐席</span>
                    <p>机器人解决85%以上的简单、常见问题，疑难问题自动转人工，人工接待时机器人进行智能辅助，实时推荐问题标准答案，大大提升客服接待效率和质量</p>
                    <a href="zaixian.html">了解更多</a>
                </div>
            </div>


            <div class="box hide">
                <div class="tu ov">
                    <a href="javascript:;">
                        <img src="images/t04.png" />
                    </a>
                </div>
                <div class="wen ov">
                    <span>全语音交互</span>
                    <p>当移动端用户不方便打字时，可以直接语音输入，系统自动将语音识别为文字，推送给机器人或人工客服，客服可以根据识别出的文字快速地进行回复</p>

                </div>
            </div>
            <div class="box hide">
                <div class="tu ov">
                    <a href="javascript:;">
                        <img src="images/t05.png" />
                    </a>
                </div>
                <div class="wen ov">
                    <span>机器人协同</span>
                    <p>集团型客户可以按部门、业务等需求创建不同的机器人，来服务不同渠道的用户。机器人与机器人之间共享基础知识库，部门间可以通过分工协作来共同维护知识库</p>

                </div>
            </div>

        </div>
        <div class="tab_menus">
            <ul>
                <li class="sel"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>

    <!--手机端-->
    <div class="swiper ov">
        <div class="tab_menu">
            <ul>
                <li class="selected">
                    <a>智慧坐席</a>
                </li>
                <li>
                    <a>多轮对话</a>
                </li>
                <li>
                    <a>知识库学习</a>
                </li>
                <li>
                    <a>全语音交互</a>
                </li>
                <li>
                    <a>多机器人协同</a>
                </li>
                <li>
                    <a>意图识别</a>
                </li>
            </ul>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="tu ov" style="height: auto!important;">
                        <a href="javascript:;">
                            <img src="images/t01.png" />
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tu ov" style="height: auto!important;">
                        <a href="javascript:;">
                            <img src="images/t02.png" />
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tu ov" style="height: auto!important;">
                        <a href="javascript:;">
                            <img src="images/t03.png" />
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tu ov" style="height: auto!important;">
                        <a href="javascript:;">
                            <img src="images/t04.png" />
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tu ov" style="height: auto!important;">
                        <a href="javascript:;">
                            <img src="images/t05.png" />
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tu ov" style="height: auto!important;">
                        <a href="javascript:;">
                            <img src="images/t06.png" />
                        </a>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>

        <!-- Initialize Swiper -->
        <script>
            $(function () {
                var mySwiper = new Swiper('.swiper .swiper-container', {

                    pagination: '.swiper .swiper-pagination',
                    paginationClickable: true,
                    onTransitionEnd: function (swiper) {
                        $('.swiper .tab_menu li').eq(mySwiper.activeIndex).addClass('selected').siblings().removeClass(
                            'selected');
                    }
                })
                $('.swiper .tab_menu li').click(function () {
                    $(this).addClass('selected').siblings().removeClass('selected');
                    mySwiper.slideTo($(this).index(), 1000)
                });
            })

        </script>
    </div>
</div>

<script>
    $(function () {
        //定义一个变量用来记录li宽度的累加值
        var sumWidth = 0;

        //假设$("li")返回的就是这3个li
        $("#tab .tab_menu li").each(function () {
            sumWidth += $(this).width();
        });

        $("#tab .tab_menu ul").width(sumWidth);
    });

</script>


<script type="text/javascript">
    $(document).ready(function () {
        var $tab_li = $('#tab .tab_menu li');
        $tab_li.click(function () {
            $(this).addClass('selected').siblings().removeClass('selected');
            var index = $tab_li.index(this);
            $('.tab_box .box').eq(index).show().siblings().hide();
            $('.tab_menus li').eq(index).addClass('sel').siblings().removeClass('sel');
        });
    });

</script>

<!--特色功能-->
<div class="ybox ov">
    <div class="title ov">
        <span>我们的优势</span>
        <p>
            <b></b>
            <a>Our advantage</a>
            <b></b>
        </p>
    </div>
    <div class="you ov">
        <ul>
            <div class="ov">
                <li>
                    <strong>
                        <img src="images/y01.png" />
                    </strong>
                    <p>
                        <span>强大的技术实力</span>
                        <a>团队源自清华技术团队掌握了最前沿的深度学习技术，98%问答准确率且行业领先。出众的语义理解力，强大的泛化能力。拥有数十项技术专利。</a>
                    </p>
                </li>
                <li>
                    <strong>
                        <img src="images/y02.png" />
                    </strong>
                    <p>
                        <span>7*24小时快速响应</span>
                        <a>每个客户都配备专属的客服经理，直接对接客户的一切问题，后方更有专门的技术团队随时待命，快速响应客户的问题和需求。</a>
                    </p>
                </li>
            </div>
            <div class="ov">
                <li>
                    <strong>
                        <img src="images/y03.png" />
                    </strong>
                    <p>
                        <span>可靠的系统稳定性</span>
                        <a>整套系统采用无状态和异步非阻塞设计，服务器以分布式集群方式部署，具有极高的并发处理能力和系统稳定性。</a>
                    </p>
                </li>
                <li>
                    <strong>
                        <img src="images/y04.png" />
                    </strong>
                    <p>
                        <span>高级别的数据安全性</span>
                        <a>系统架构上针对所有数据库都创建副本集（Replica Server），物理上采用两地三中心的灾备方案，实现对客户数据的多重保护</a>
                    </p>
                </li>
            </div>
        </ul>
    </div>
</div>

<!--共同选择-->
<div class="sec">
    <div class="xbox ov">
        <div class="title ov">
            <span>30000+家客户的共同选择</span>
            <p>
                <b></b>
                <a>30000+customers'commonchoice</a>
                <b></b>
            </p>
        </div>
        <ul class="xx ov">
            <li>
          <span>
            <img src="images/zgpa.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/gfzq.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/hb.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/lkl.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/58.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/ge.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/zgcyh.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/lnzxyh.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/qhzx.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/msyd.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/ntzt.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/xm.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/shash.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/lv.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/51.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/sqdt.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/zgkt.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/szsm.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/hd.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/zdk.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/ga.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/hdjy.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/jyjy.png" />
          </span>
            </li>
            <li>
          <span>
            <img src="images/caft.png" />
          </span>
            </li>

        </ul>
    </div>
</div>
<!-- 新闻模块 -->
<div class="tbox ov newsBox">
    <div class="title ov">
        <span>新闻动态</span>
        <p>
            <b></b>
            <a>NEWS REPORT</a>
            <b></b>
        </p>
    </div>
    <div class="newsList">
        <div class="newsType">
            <div class="newsHead">
                <div class="headImg hyxw"></div>
                <div class="heading">行业新闻</div>
            </div>
            <div class="news">
                <ul class="newsUl">
                    <li>
                        <span class="point"></span>
                        <span class="newsTitle">
                <a href="">在线客服如何提高咨询转化率</a>
              </span>
                        <span class="pushTime">06-12</span>
                    </li>
                    <li>
                        <span class="point"></span>
                        <span class="newsTitle">
                <a href="">在线客服如何提高咨询转化率</a>
              </span>
                        <span class="pushTime">06-12</span>
                    </li>
                    <li>
                        <span class="point"></span>
                        <span class="newsTitle">
                <a href="">在线客服如何提高咨询转化率</a>
              </span>
                        <span class="pushTime">06-12</span>
                    </li>
                    <li>
                        <span class="point"></span>
                        <span class="newsTitle">
                <a href="">在线客服如何提高咨询转化率</a>
              </span>
                        <span class="pushTime">06-12</span>
                    </li>
                    <li>
                        <span class="point"></span>
                        <span class="newsTitle">
                <a href="">在线客服如何提高咨询转化率</a>
              </span>
                        <span class="pushTime">06-12</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="newsType">
            <div class="newsHead">
                <div class="headImg cydt"></div>
                <div class="heading">产业动态</div>
            </div>
            <div class="news">
                <ul class="newsUl">
                    <li>
                        <span class="point"></span>
                        <span class="newsTitle">
                <a href="">在线客服如何提高咨询转化率</a>
              </span>
                        <span class="pushTime">06-12</span>
                    </li>
                    <li>
                        <span class="point"></span>
                        <span class="newsTitle">
                <a href="">在线客服如何提高咨询转化率</a>
              </span>
                        <span class="pushTime">06-12</span>
                    </li>
                    <li>
                        <span class="point"></span>
                        <span class="newsTitle">
                <a href="">在线客服如何提高咨询转化率</a>
              </span>
                        <span class="pushTime">06-12</span>
                    </li>
                    <li>
                        <span class="point"></span>
                        <span class="newsTitle">
                <a href="">在线客服如何提高咨询转化率</a>
              </span>
                        <span class="pushTime">06-12</span>
                    </li>
                    <li>
                        <span class="point"></span>
                        <span class="newsTitle">
                <a href="">在线客服如何提高咨询转化率</a>
              </span>
                        <span class="pushTime">06-12</span>
                    </li>

                </ul>
            </div>
        </div>
        <div class="newsType">
            <div class="newsHead">
                <div class="headImg kfal"></div>
                <div class="heading">客户案例</div>
            </div>
            <div class="news">
                <ul class="newsUl">
                    <li>
                        <span class="point"></span>
                        <span class="newsTitle">
                <a href="">在线客服如何提高咨询转化率</a>
              </span>
                        <span class="pushTime">06-12</span>
                    </li>
                    <li>
                        <span class="point"></span>
                        <span class="newsTitle">
                <a href="">在线客服如何提高咨询转化率</a>
              </span>
                        <span class="pushTime">06-12</span>
                    </li>
                    <li>
                        <span class="point"></span>
                        <span class="newsTitle">
                <a href="">在线客服如何提高咨询转化率</a>
              </span>
                        <span class="pushTime">06-12</span>
                    </li>
                    <li>
                        <span class="point"></span>
                        <span class="newsTitle">
                <a href="">在线客服如何提高咨询转化率</a>
              </span>
                        <span class="pushTime">06-12</span>
                    </li>
                    <li>
                        <span class="point"></span>
                        <span class="newsTitle">
                <a href="">在线客服如何提高咨询转化率</a>
              </span>
                        <span class="pushTime">06-12</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--免费试用-->
<div class="mbox mt ov">
    <div class="title ov">
        <span>立即开通奇智机器人，免费试用全部功能</span>
        <p>
            <b></b>
            <a>free trial all features</a>
            <b></b>
        </p>
    </div>
    <div class="title01 ov">
      <span>立即开通奇智机器人
        <br />免费试用全部功能</span>
        <p>
            <b></b>
            <a>free trial all features</a>
            <b></b>
        </p>
    </div>

    <div class="sbox ov">
        <strong>
            <img src="images/tel.jpg" />
        </strong>
        <p>
            <input type="text" placeholder="请输入您的手机号..." id="phoneNum" />
        </p>
        <span>
        <input type="button" value="免费试用" class="freeUse" />
      </span>
    </div>
</div>

<!--[if lt IE 9]>
<script type="text/javascript">
    $(document).ready(function() {
        // val()无参数是取值，有参数是设置
        // 为了更好的兼容性，将下面的val()设置与input中的placeholder的值设置相同
        $(".sbox p input").val("请输入您的手机号...");
        textFill($('input.text1'));

    });

    function textFill(input) {
        var originalvalue = input.val();
        input.focus(function() {
            if ($.trim(input.val()) == originalvalue) {
                input.val('');
            }
        });
        input.blur(function() {
            if ($.trim(input.val()) == '') {
                input.val(originalvalue);
            }
        });
    }
</script>
<![endif]-->

<!--foot-->
<div class="footer ov">
    <div class="foot ov">
        <div class="logo fl">
            <img src="images/logo.png" />
        </div>
        <div class="xw fl">
            <ul>
                <li>
                    <a href="https://weibo.com/p/1005055792483262/" target="_blank">
                        <img src="images/fb03.png" />
                    </a>
                </li>
                <li class="on">
                    <a>
                        <img src="images/fb02.png" />
                    </a>
                    <p>
                        <img src="images/wx.jpg" />
                    </p>
                </li>
                <li>
                    <a href="https://shang.qq.com/wpa/qunwpa?idkey=c54b25c8520c54afb7d9125f4e1cd50e86c4d50ddff1dd92a4d060d3b1df6c4e" alt="奇智机器人官方QQ群"
                       title="官方QQ群: 476248184" target="_blank">
                        <img src="images/fb01.png" />
                    </a>
                </li>
            </ul>
        </div>
        <ul class="lx fl">
            <li>
                <strong>
                    <img src="images/f01.png" />
                </strong>
                <p>
                    <a href="tel:400-604-5033" title="" style="color: white;">电话: 400-604-5033</a>
                </p>
            </li>
            <li>
                <strong>
                    <img src="images/f02.png" />
                </strong>
                <p>商务合作: market@chatbot.cn</p>
            </li>
            <li>
                <strong>
                    <img src="images/f03.png" />
                </strong>
                <p>技术支持: support@chatbot.cn</p>
            </li>
            <li>
                <strong>
                    <img src="images/f04.png" />
                </strong>
                <p>公司地址:上海市浦东新区祖冲之路1559号创意大厦7001</p>
            </li>
        </ul>
        <dl class="nav fl">
            <dt>
                <a href="duihua.html">产品</a>
                <a href="jishu.html">技术优势</a>
                <a href="jiage.html">价格</a>
                <a href="anli.html">案例</a>
                <a href="yanshi.html">演示</a>
                <a href="dongtai.html">动态</a>
                <a href="guanyu.html">关于我们</a>
            </dt>
            <dd>
          <span>
            <a href="anli.html">客户案例</a>
          </span>
                <p>
                    <a href="anli.html?key=lkl">
                        <img src="images/c01.png" />
                    </a>
                </p>
                <p>
                    <a href="anli.html?key=ge">
                        <img src="images/footer-ge.png" />
                    </a>
                </p>
                <p>
                    <a href="anli.html?key=58">
                        <img src="images/footer-58.png" />
                    </a>
                </p>
                <p>
                    <a href="anli.html?key=zgcyh">
                        <img src="images/footer-zgcyh.png" />
                    </a>
                </p>
            </dd>
        </dl>
        <div class="bottom fl">
            <p>奇智机器人-专业的人机智能交互解决方案提供商</p>
            <span>Copyright@2017 上海八斗智能技术有限公司 | 沪ICP备17004486号-1|</span>
        </div>
    </div>
</div>

<script src="./js/main.js" charset="utf-8"></script>
<script src='http://cloud.chatbot.cn/cloud/robot/webjs/5b3c47952400008a1b1f05c3' language="JavaScript"></script>
<!--百度统计-->
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?c1ca7e2ebb1260ee586994702dcb5f5c";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    $(function () {
        alert(100);
        $.get("http://localhost:9000/newsList", function (data) {
            alert(data);
        });
    });
</script>
<!--百度统计/-->
<!--cnzz-->
<div style="display: none;">
    <script type="text/javascript">
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1256449100'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol +
            "s95.cnzz.com/stat.php%3Fid%3D1256449100' type='text/javascript'%3E%3C/script%3E"));

    </script>
</div>
<!--cnzz/-->
</body>

</html>
